{% extends "Base.html" %}

{% block content %}
	<link rel="stylesheet" href="/statics/css/addPresent.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/statics/css/presentItem.css" type="text/css" media="screen" />

	<!-- div class="sideNote">
		<h3>Ajouter un cadeau par tchat!</h3>
		<p>Utilisateurs de GoogleTalk, iChat (via jabber), Gmail, etc ... ceci est pour vous:</p>
		<p><strong>Invitez <a href="#">malistedecadeaux@appspot.com</a> dans vos contacts pour pouvoir ajouter de nouveaux cadeaux dans votre liste par tchat.</strong></p>
		<p><img src="/statics/images/chatExample.png" alt="un example de chat avec malica" /></p>
		<h3>Ajouter un cadeau depuis n'importe quel site!</h3>
		<p>Vous pouvez aussi ajouter un cadeau depuis n'importe quel site web, directement depuis votre navigateur en clickant sur un seul bouton!</p>
		<p>Pour cela, ajoutez simplement le lien ci-dessous à votre liste de favoris, et une fois sur une page web de cadeau que vous souhaitez sauvegarder, clickez sur le favoris.</p>
		<textarea style="width:100%">javascript:var iframe=document.createElement("iframe");iframe.style.display="none";document.body.appendChild(iframe);iframe.src="http://malistedecadeaux.appspot.com/quickAdd?site="+encodeURIComponent(document.location.href);</textarea> 
	</div -->

	<form action="/ajouter" method="post">

		<div id="add">
			<label for="smartInput">entrez une adresse de site internet, une description, ou les deux...</label>
			<input type="text" id="smartInput" />
			<input type="hidden" id="url" name="url" />
			<div class="step" step="1">
				<label>choisissez une photo...</label>
				<ul id="images"></ul>
				<input type="hidden" id="photo" name="image" />
			</div>
			<div class="step" step="2">
				<label for="price">entrez un prix approximatif...</label>
				<input type="text" id="price" name="approximatePrice" />
			</div>
			<div class="step" step="3">
				<label for="title">entrez ou modifiez la description...</label>
				<input type="text" id="title" name="title" />
			</div>
			<div class="step" step="4">
				<label>verifiez le cadeau...</label>
				<div id="addPresentPreview">
					<div class="presentItem">
						<div class="img">&nbsp;
							<img src="/statics/images/noImage.png" />
						</div>
						<div class="info" title="Cliquez pour changer les informations">
							<h4><span class="title" title="Cliquez pour editer la desription"></span><span class="url"></span></h4>
							<p class="price" title="Cliquez pour editer le prix"><span>--</span> &euro;</p>
						</div>
					</div>
				</div>
			</div>
			<button>Continuez</button>
		</div>
	
	</form>
	
	<script type="text/javascript" src="/statics/js/malica/utils/ImageResizer.js"></script>
	<script type="text/javascript" src="/statics/js/malica/utils/SmartInputDetector.js"></script>
	<script type="text/javascript" src="/statics/js/malica/present/Creator.js"></script>
	<script type="text/javascript" src="/statics/js/malica/present/Previewer.js"></script>
	<script type="text/javascript">
		var page = new malica.present.Creator();
		page.init();
	</script>
{% endblock %}