#add {
	background: #eee;
	padding: 20px;
	overflow: hidden;
}
#add .step {
	display: none;
}
#add .step[step='4'] {
	text-align: center;
}
#add label {
	display: block;
	margin-bottom: 15px;
	color: #666;
	font-size: 2em;
}
#add button {
	font-size: 2em;
}
#add input {
	border: 1px solid #ccc;
	padding: 20px;
	font-size: 2em;
	width: 920px;
	color: #666;
	margin-bottom: 20px;
}
#add .presentItem {
	background: white;
	margin: 0 auto;
	box-shadow: 0 0 20px #aaa;
}
#add #images {
	background: white;
	border: 1px solid #ccc;
	padding: 20px;
	min-height: 275px;
	overflow: hidden;
	margin-bottom:20px;
}
#add #images li {
	float: left;
}
#add #images li img {
	cursor: pointer;
	border: 5px solid white;
}
#add #images li img.selected {
	border-color: red;
}