#header {
	z-index: 5;
	background: white;
	width: 1000px;
	padding-top: 10px;
	border-bottom: 2px solid #eee;
}
#page h1 {
	height: 90px;
	width: 350px;
	background: url(../images/logo-small.png) no-repeat left -10px;
}
#page h1 a {
	display: block;
	width: 100%;
	height: 100%;
}
#page h1 a span {
	display: none;
}
#page #um {
	font-size: 12px;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;	
	color: #333;
}
#page #um .um_email {
	color: #777;
}
#page #um .um_link {
	font-weight: bold;
	display: block;
	background: url(../images/padlock.png) no-repeat center right;
	padding-right: 12px;
}
#page #um .um_link a {
	color: #333;
}
#page #um img {
	width: 40px;
}

#nav {
	color: #646565;
	overflow: hidden;
	border-bottom: 1px solid #888;
	padding: 0 20px;
}
#nav li {
	font-size: 14px;
	margin: 0;
	padding: 10px;
	float: left;
}
#nav li.current {
	font-weight: bold;
}
#nav li p {
	margin: 0;
}
#nav li a {
	color: #646565;
}

#content {
	clear:both;

}

#page #list {
	padding-top: 1px;
	position: relative;
}

#page #list .sort {
	text-align: right;
	margin: 0 0 15px 0;
}
#page #list .pages {
	clear: both;
	text-align: center;
	padding: 15px 0;
	color: #afaca1;
}
#page #list .pages .dots {
	font-size: 40px;
	font-family: times;
	height: 20px;
	line-height: 0;
}
#page #list .pages .dots a {
	font-size: 40px;
	text-decoration: none;
}
#page #list .pages .links a {
	margin: 0 5px;
}