.presentList {
	float: left;
}
.presentList .presentItem {
	float: left;
	margin: 0 20px 20px 0;
}
.presentList .presentItem:nth-child(4n) {
	margin-right: 0;
}
.presentList .presentItem:nth-child(4n+1){
	clear: left;
}
.presentList .presentItem img {
	visibility: hidden;
}

#presentTooltip {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 295px;
	height: auto;
	float: none;
	padding: 15px;
}
#presentTooltip .img {
	position: static;
}
#presentTooltip img {
	margin: 0;
}
#presentTooltip .info {
	position: static;
	padding: 15px 0 0;
}
#presentTooltip h4 {
	display: block;
}
#presentTooltip .del {
	display: block;
}
