<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>malica - ma liste de cadeaux en ligne</title>
	<script src="/statics/js/libs/jquery-1.4.4.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/statics/css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/statics/css/messages.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/statics/css/footer.css" type="text/css" media="screen" />
	<link rel="icon" type="image/png" href="/statics/images/favicon.png" />
</head>
<body>