<link rel="stylesheet" href="/statics/css/presentList.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/statics/css/presentItem.css" type="text/css" media="screen" />

<ul class="presentList">
{% for present in presents %}
	<li class="presentItem" title="{{ present.title }}">
		<!--
		{% if current_user %}
			<p class="del"><a href="/effacer?key={{ present.key }}" title="Supprimer ce cadeau">&nbsp;</a></p>
		{% endif %}
		-->
		<div class="img">&nbsp;
			{% if present.image %}
				<img src="{{present.image}}" />
			{% else %}
				<img src="/statics/images/noImage.png" />
			{% endif %}&nbsp;
		</div>

		<div class="info">
			<h4>{{ present.title }}{% if present.url %} <a href="{{ present.url }}" target="new">&raquo; {{ present.shortUrl }}</a>{% endif %}</h4>
			{% if present.approximatePrice %}
				<p class="price">{{ present.approximatePrice }} &euro;</p>
			{% endif %}
			<p class="user"><a href="/{{present.user}}">{{present.user}}</a></p>
		</div>
	</li>
{% endfor %}
</ul>
<script type="text/javascript" src="/statics/js/malica/utils/ImageResizer.js"></script>
<script type="text/javascript">
	$(window).ready(function() {	
		var resizer = new malica.ImageResizer($(".presentList li.presentItem img"));
		resizer.resizeOnPageLoad(200, true);
	});
</script>